.vieAparts{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    width: 32vw;
    align-self: center;
    height: auto;
    aspect-ratio: 1.5;
    transform: scale(2);
    z-index: 1000;
    transition: transform 0.5s ease;
    box-shadow: 0 0 40px rgba(0, 0, 0, 1);
    cursor: pointer;
    background-size: contain;

    @include tablet-above{
        width: 49vw;
    }
}

.scaleAparts{
    cursor: pointer;
    transition: var(--transition-duration);

    @include hover{
        transform: scale(1.03);
    }
}

.blured{
    filter: blur(5px);
    z-index: 1;
}