.number-big{
    font-family: 'Playfair Display';
    font-size: 340px;
    color: rgba(58, 57, 67, 0.381);
    position: absolute;
    top: -35%;
    right: 10%;
    z-index: -5;

    @include tablet-above{
        font-size: 250px;
        top: -10%;
    }
    @include mobile-above{
        font-size: 200px;
    }
}