.social{

    &__items{
        display: flex;
        column-gap: 20px;

        &-item{
            &-link{
                transition: var(--transition-duration);
                
                @include hover{
                    transform: scale(1.1);
                }
            }
        }

        @include mobile-above{
            justify-content: center;
        }
    }
}